<ul class="navbar-nav mr-auto">
  <li class="nav-item">
    <%= link_to 'Login', 'auth/auth0', method: :post, class: "nav-link" unless logged_in? %>
  </li>
  <% if logged_in? %>
    <span class="navbar-text">
      <%= username %>
    </span>

    <li class="nav-item">
      <%= link_to 'Logout', auth0_logout_url, class: 'nav-link' %>
    </li>
    <li class="nav-item">
      <%= image_tag gravatar_image, class: 'gravatar' %>
    </li>
  <% end %>
</ul>
