@import url('https://fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,500,500i,700,700i|Roboto+Mono:300,400,700|Roboto+Slab:300,400,700');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

// This is the place to modify material styling
//$primary: (
//        color: #007757,
//        dark:  darken(#007757, 10%),
//        light: lighten(#007757, 10%)
//);

@import '~daemonite-material/assets/scss/material';

html {
  font-size: 1rem;
}

@include media-breakpoint-up(sm) {
  html {
    font-size: 1rem;
  }
}

@include media-breakpoint-up(md) {
  html {
    font-size: 1rem;
  }
}

@include media-breakpoint-up(lg) {
  html {
    font-size: 1rem;
  }
}

.textfield-box {
  .form-control {
    border-bottom: {
      left-radius: 0;
      right-radius: 0;
    }
  }

  .invalid-feedback,
  .form-text {
    padding-left: $textfield-box-padding-x;
  }
}

.navbar {
  .gravatar {
    vertical-align: middle;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 1px solid $material-color-purple-200;
    margin-left: 10px;
  }

  .navbar-sticky-top {
    margin-bottom: 1em;
  }
}
